.deposit-option {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  flex-shrink: 1;
  margin-right: 34px;
  &:last-child {
    margin-right: 0;
  }
  &__coins {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    position: relative;
    img {
      width: 55px;
      position: absolute;
    }
  }

  &__value {
    color: #fe4d4a;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 8px;
    white-space: nowrap;
  }

  &__text {
    flex-shrink: 0;
    span {
      margin-right: 7px;
    }
  }

  &__btn {
    display: inline-block;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: $mainPink;
    text-decoration: none;
    color: $mainOrange;
    font-size: 13px;
    line-height: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
  }
}
